.barbeiros-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.barbeiros-gallery h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
  text-shadow: 0 0 25px #7f00ff;
}

.gallery-grid {
  width: 98%;
  max-width: 1440px;
  margin: 0 auto;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  border-radius: 15px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0 0 15px 15px;
  transition:
    transform 0.6s ease-in-out,
    box-shadow 0.6s ease-in-out;
  cursor: pointer;
  margin: 0;
}

.gallery-item img:hover {
  transform: scale(1.03);
  filter: brightness(1.2);
}

.gallery-item figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 246, 255, 0.2);
  color: #fff;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.gallery-item:hover figcaption {
  opacity: 1;
}

@media (max-width: 834px) {
  .gallery-grid {
    height: auto;
  }
}

@media (max-width: 428px) {
  .gallery-grid {
    grid-template-columns: 1fr;
    width: 580px;
    height: auto;
    gap: 1rem;
  }

  .gallery-item {
    width: 100%;
    height: 100%;
  }

  .gallery-item figcaption {
    font-size: 1.3rem;
    padding: 8px;
  }
}

@media (max-width: 390px) {
  .gallery-grid {
    width: 380px;
    height: auto;
  }
}

@media (max-width: 320px) {
  .gallery-item {
    width: 390px;
    height: auto;
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width : 200px) {
  .gallery-grid {
    width: 160px;
    height: auto;
    gap: 0.6rem;
  }

  .gallery-item {
    width: 100%;
    height: auto;
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
  }

  .gallery-item figcaption {
    font-size: 1rem;
    padding: 8px;
  }
}
