.rodape {
  background: radial-gradient(circle at top, #0a0f1f, #05060d);
  width: 100%;
  height: 100px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  text-align: center;
  margin-top: 10px;
  border: solid 1px #131d3d;
}
.rodape p {
  margin: 0;
  color: #fff;
  opacity: 0.9;
  font-size: 0.8rem;
}
.rodape nav ul {
  display: flex;
  list-style: none;
  padding: 12px;
  align-items: center;
}

.rodape nav ul li {
  display: flex;
}
.rodape a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1280px) {
  .rodape {
    height: auto;
    padding: 20px;
    flex-direction: column;
  }

  .rodape nav {
    width: 100%;
    display: block;
    justify-content: center;
  }
  .rodape nav ul {
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin: 10px 0;
  }

  .rodape nav ul li {
    margin: 0;
  }

  .rodape a {
    font-size: 1rem;
    opacity: 0.8;
    transition: opacity 0.3s;
  }

  .rodape a:hover {
    opacity: 1;
    text-shadow: 0 0 10px #00f6ff;
  }

  .rodape p {
    font-size: 0.7rem;
  }

}